---
title: CVE
icon: newspaper-o
---

{% for cve in site.data.cve %}
<div class="card">
  <div class="card-heading">
    <h3>{{ cve.cve }}</h3> (<a target="_blank" href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve.cve }}">https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve.cve }}</a>)
  </div>
  <div class="card-content-1">
    <b>Information:</b></br>
    {{ cve.info | markdownify }}
    <b>Links:</b>
    {{ cve.content | markdownify }}
    {% if cve.espressocommitid %}
    <b>Galaxy Tab 2 Kernel:</b></br>
    <a target="_blank" href="https://github.com/Unlegacy-Android/android_kernel_samsung_espresso/commit/{{ cve.espressocommitid }}">https://github.com/Unlegacy-Android/android_kernel_samsung_espresso/commit/{{ cve.espressocommitid }}</a></br>
    {% endif %}
    {% if cve.tunacommitid %}
    <b>Galaxy Nexus Kernel:</b></br>
    <a target="_blank" href="https://github.com/Unlegacy-Android/android_kernel_samsung_tuna/commit/{{ cve.tunacommitid }}">https://github.com/Unlegacy-Android/android_kernel_samsung_tuna/commit/{{ cve.tunacommitid }}</a></br>
    {% endif %}
  </div>
</div>
{% endfor %}
