---
title: CVE
icon: newspaper-o
---

<style>
  body {
    word-wrap: break-word;
  }
</style>

<div class="card">
  <div class="card-content-1">
    <b>Oneplus msm8974 Kernel:</b>
{% for cve in site.data.cve %}
    {% if cve.baconcommitid %}
    <b>{{ cve.cve }}</b>: <a href="https://github.com/andi34/android_kernel_oneplus_msm8974/commit/{{ cve.baconcommitid }}">{{ cve.baconcommitid }}</a></br>
    {% else %}
    <b>{{ cve.cve }}</b>: <b>UNAFFECTED OR UNPATCHED</b></br>
    {% endif %}
{% endfor %}
  </div>
</div>

