<p><b>18.01.2017</b></p>
<ul>
  <p><b>Galaxy Tab2</b></p>
  <p>SlimKat update (SlimKat 9.4) for espressowifi and espresso3g</p>
  <ul>
    <li>Applied a lot of security fixes on SlimKat Source (Android security patch level: 2017-01-01)</li>
    <li>Latest Kernelsource to adress a lot of security issues.</li>
  </ul>
  <br />
  <p>SlimLP update (SlimLP 0.18) for espressowifi and espresso3g</p>
  <ul>
    <li>Applied a lot of security fixes on SlimKat Source (Android security patch level: 2017-01-01)</li>
    <li>Latest Kernelsource to adress a lot of security issues.</li>
  </ul>
  <br />
  <p>Omni 4.4 & 5.1 for espressowifi and espresso3g</p>
  <ul>
    <li>Only device specific updates (get inline with our changes to improve Tab2 builds last couple of months)</li>
    <li>Latest Kernelsource to adress a lot of security issues, there is no rom specific security fixes applied.</li>
  </ul>
</ul>
<br/>

<p><b>11.01.2017</b></p>
<ul>
  <p><b>Galaxy Tab2</b></p>
  <ul>
    <li>AOSP Page has been updated</li>
    <li>New TWRP 3.0.3-0 uploaded, it is now possible to flash roms which use experimental 3.4 kernel <b>(This new TWRP is required for AOSP 7.1!!!)</b>. Official changes until <a href="https://github.com/omnirom/android_bootable_recovery/commits/f2e3f0c51c5f94d98ba2e0a5742c89413d1e2f42" target="_blank">f2e3f0c head</a> from OmniRoms TWRP source (android-7.1 branch)</li>
    <br />
  </ul>
</ul>