html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 75px;
  background-color: white;
  padding-top: 70px;
}
.jumbotron p,
.jumbotron li {
  font-size: 16px;
  line-height: 1.4
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 14px 0;
}
.navbar-transparent {
  background: white !important;
  color: black !important;
  padding-top: 10px !important;
}
.navbar {
  -webkit-transition: box-shadow 0.2s ease-out !important;
  -moz-transition: box-shadow 0.2s ease-out !important;
  -o-transition: box-shadow 0.2s ease-out !important;
  -ms-transition: box-shadow 0.2s ease-out !important;
  transition: box-shadow 0.2s ease-out !important;
}
.navbar-white {
  background: white !important;
  color: black !important;
  box-shadow: 0 1px 8px rgba(0,0,0,.3) !important;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.single {
  padding-top: 90px;
}
.list-group-item {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media (max-width: 768px) {
  .heading {
    font-size: 44px;
  }
  .footer {
    height: 120px;
  }
  body {
    margin-bottom: 120px;
  }
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.4) !important;
    color: rgba(255,255,255, 0.9) !important;
  }
  
}
