html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 75px;
  background-color: #fafafa;
  padding-top: 70px;
}
.jumbotron p,
.jumbotron li,
p,
li {
  font-size: 16px;
  line-height: 1.4
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 14px 0;
  font-size: 14px !important;
}
.navbar-transparent {
  background: white !important;
  color: black !important;
  padding-top: 10px !important;
}
.navbar {
  -webkit-transition: box-shadow 0.2s ease-out !important;
  -moz-transition: box-shadow 0.2s ease-out !important;
  -o-transition: box-shadow 0.2s ease-out !important;
  -ms-transition: box-shadow 0.2s ease-out !important;
  transition: box-shadow 0.2s ease-out !important;
}
.navbar-white {
  background: white !important;
  color: black !important;
  box-shadow: 0 1px 8px rgba(0,0,0,.3) !important;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.single {
  padding-top: 90px;
}
.list-group-item {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); !important;
  background-color: white;
  margin-bottom: 24px;
}
.card-heading {
  padding: 8px 24px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.card-content-0 {
  padding: 8px 24px !important;
}
.card-content-1 {
  padding: 24px !important;
}
.card-button {
  padding: 0 8px;
  border-top: 1px solid rgba(0,0,0,0.12);
}
@media (max-width: 768px) {
  
  .heading {
    font-size: 50px;
  }
  .footer {
    height: 120px;
  }
  body {
    margin-bottom: 120px;
  }
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.4) !important;
    color: rgba(255,255,255, 0.9) !important;
  }
  
}
@media (max-width: 991px) {
  
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
  }

}
