<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/img/avatar.png" type="image/png">

    <!-- Open graph tags to customize link previews. -->
    <meta property="og:url"           content="{{ site.url }}">
    <meta property="og:type"          content="website">
    <meta property="og:title"         content="{{ site.name }}">
    <meta property="og:description"   content="{{ site.description }}">
    <meta property="og:image"         content="{{ site.url }}/assets/img/avatar.png">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/material-kit.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body id="page-top"{% if page.single %} class="single"{% endif %}>
    <nav class="navbar navbar-transparent navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed navbarButton" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Android-Andi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/news.html">News</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recoveries<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/recoveries_tab2.html">Recoveries for Samsung Galaxy Tab2</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/recoveries_golden.html">Recoveries for Samsung Galaxy S3 mini</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ROMs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Samsung Galaxy Tab2</li>
                <li><a href="/roms_tab2_aosp.html">AOSP</a></li>
                <li><a href="/roms_tab2_cm.html">CyanogenMod</a></li>
                <li><a href="/roms_tab2_lineage.html">LineageOS</a></li>
                <li><a href="/roms_tab2_omni.html">OmniRom</a></li>
                <li><a href="/roms_tab2_slim.html">SlimRoms</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Samsung Galaxy S3 mini</li>
                <li><a href="/roms_golden_slim.html">SlimRoms</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Samsung Galaxy Nexus</li>
                <li><a href="/roms_tuna_slim.html">SlimRoms</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">GApps</li>
                <li><a href="/gapps.html">GApps (information and links)</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">FAQ</li>
                <li><a href="/faq.html"><img src="/assets/img/flags/GB.png" alt="GB"> FAQ (english)</a></li>
                <li><a href="/faq_de.html"><img src="/assets/img/flags/DE.png" alt="DE"> FAQ (german)</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Known bugs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Samsung Galaxy Tab2</li>
                <li><a href="/known_bugs_tab2_4.4.html">Android 4.4</a></li>
                <li><a href="/known_bugs_tab2_5.1.html">Android 5.1</a></li>
                <li><a href="/known_bugs_tab2_6.0.html">Android 6.0</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Samsung Galaxy S3 mini</li>
                <li><a href="/known_bugs_golden_4.4.html">Android 4.4</a></li>
                <li><a href="/known_bugs_golden_5.1.html">Android 5.1</a></li>
              </ul>
            </li>
            <li><a href="/donations.html">Donations</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="site-content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="text-muted">
              <a href="https://github.com/andi34">Android-Andi</a> &copy; {{ site.time | date: '%Y' }}. All rights reserved.
            </p>
          </div>
          <div class="col-sm-6">
            <div class="btt">
              <div class="text-right hidden-xs">
                <a href="#page-top" class="btn btn-sm btn-simple page-scroll">
                  <i class="fa fa-angle-up fa-fw" aria-hidden="true"></i> Back to Top
                </a>
              </div>
              <div class="text-center visible-xs">
                <a href="#page-top" class="btn btn-simple btn-fab btn-fab-mini btn-round page-scroll">
                  <i class="material-icons">keyboard_arrow_up</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/assets/js/material.min.js"></script>
    <script src="/assets/js/scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

  </body>
</html>
