---
layout: blank
---
<style>
	body {
		word-wrap: break-word;
	}
	.hideLink {
		display: none;
	}
	a.showLink,
	a.hideLink {
		text-decoration: none;
	}
	.nonLink:hover {
		text-decoration: none;
	}
	h2 {
		font-size: 2.6rem;
	}
	#changes div  {
		display: none;
		margin-left: 30px;
	}
</style>
<script>
function show(sectionId) {
	if (document.getElementById(sectionId)) {
		document.getElementById(sectionId+'-show').style.display = 'none';
		document.getElementById(sectionId+'-hide').style.display = 'inline';
		document.getElementById(sectionId).style.display = 'block';
	}
}

function hide(sectionId) {
	if (document.getElementById(sectionId)) {
		document.getElementById(sectionId+'-show').style.display = 'inline';
		document.getElementById(sectionId+'-hide').style.display = 'none';
		document.getElementById(sectionId).style.display = 'none';
	}
}
</script>

<div class="container">
	<ul class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li><a href="/changelog.html">Changelogs</a></li>
		<li class="active">{{ page.title }}</li>
	</ul>
</div>

<div class="container">
	<h1>{{ page.title }}</h1>

	{{ content }}

</div>
